# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/public
/package-lock.json
/package.json
/src/components/home
/src/components/layout
/src/components/constants
/src/components/json
/src/components/reducers
/src/components/routes
/src/App.css
/src/App.js
/src/App.test.css
/src/Index.css
/src/Index.js
/src/serviceWorker.js
